version: '3'
services:
    clientdiscord:
        image: celestialstats/clientdiscord:latest
        container_name: cs_clientdiscord
        hostname: cs_clientdiscord
        build: .
        environment:
            - DISCORD_CLIENTID=
            - DISCORD_CLIENTSECRET=
            - DISCORD_BOTTOKEN=
            - AWS_ACCESS_KEY_ID=
            - AWS_SECRET_ACCESS_KEY=
            - AWS_DEFAULT_REGION=us-east-1
            - LOG_TABLE_NAME=cs_sb_discord_inc_logs
        volumes:
            - /opt/cs/clientdiscord/logs:/cs/clientdiscord/logs
