version: '3'
services:
    clientdiscord:
        image: celestialstats/clientdiscord:latest
        container_name: cs_clientdiscord
        hostname: cs_clientdiscord
        environment:
            - DISCORD_CLIENTID=
            - DISCORD_CLIENTSECRET=
            - DISCORD_BOTTOKEN=
            - RMQ_USERNAME=
            - RMQ_PASSWORD=
            - RMQ_EXCHANGE_NAME=
            - RMQ_HOSTNAME=
            - RMQ_PORT=
            - RMQ_HEARTBEAT=
        volumes:
            - /opt/cs/clientdiscord/logs:/cs/clientdiscord/logs
