aiohttp==1.0.5
async-timeout==1.2.1
boto3==1.4.4
botocore==1.5.75
chardet==3.0.4
discord.py==0.16.8
docutils==0.13.1
flake8==3.3.0
greenlet==0.4.12
jmespath==0.9.3
mccabe==0.6.1
msgpack-python==0.4.8
multidict==3.0.0
neovim==0.1.13
pudb==2017.1.2
pycodestyle==2.3.1
pyflakes==1.5.0
Pygments==2.2.0
python-dateutil==2.6.0
s3transfer==0.1.10
six==1.10.0
urwid==1.3.1
websockets==3.3
