#!/bin/bash
export DISCORD_CLIENTID=""
export DISCORD_CLIENTSECRET=""
export DISCORD_BOTTOKEN=""
export RMQ_EXCHANGE_NAME="incoming_logs"
export RMQ_HOSTNAME=""
export RMQ_PORT="5672"
export RMQ_USERNAME=""
export RMQ_PASSWORD=""
