#!/bin/bash
export DISCORD_CLIENTID=""
export DISCORD_CLIENTSECRET=""
export DISCORD_BOTTOKEN=""
export AWS_ACCESS_KEY_ID=""
export AWS_SECRET_ACCESS_KEY=""
export AWS_DEFAULT_REGION="us-east-1"
export LOG_TABLE_NAME="cs_sb_incoming_logs"
